<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         IgnorableNamespaces="uap mp">

  <!-- Defines the globally unique identifier for the package. -->
  <Identity Name="c98a6066-8154-4e87-bcf7-65e3e0c7741b"
            Publisher="CN=toivjon"
            Version="1.0.0.0"/>

  <!-- Defines additional metadata about the package inc. how the package appears to users. -->
  <Properties>
    <PublisherDisplayName>toivjon</PublisherDisplayName>
    <DisplayName>uwp-hello-xbox</DisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <!-- Included to keep compiler happy, even though were not actually deploying to any phone. -->
  <mp:PhoneIdentity PhoneProductId="c98a6066-8154-4e87-bcf7-65e3e0c7741b"
                    PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <!-- Defines the other packages that are required for the application. -->
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal"
                        MinVersion="10.0.0.0"
                        MaxVersionTested="10.0.0.0"/>
  </Dependencies>
  
  <!-- Declares union of languages, display scales and DX feature levels of the package. -->
  <Resources>
    <Resource Language="x-generate"/>  
  </Resources>

  <Applications>
    <Application Id="App"
                 Executable="$targetnametoken$.exe"
                 EntryPoint="uwphelloxbox.main">
      <uap:VisualElements
        DisplayName="UwpHelloXbox"
        Description="A simple UWP hello world triangle for Xbox"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  
</Package>